*{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    
}
.banner{
    background-image: url(https://images.pexels.com/photos/6471946/pexels-photo-6471946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: 1600px 800px;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken,luminosity;
    width: 1400px;
    height: 500px;
    opacity:0.9;
    text-align: center;
}
.banner div{
    margin-top: 100px;
}
.banner h1 {
    color: white;
    font-size: 60px;
    text-align: center;
    
}
.banner p{
    color: rgb(196, 188, 188);
    font-size: 30px;
    text-align: center;
    
}
#donate-btn{
    padding: 10px 20px;
    color: white;
    background-color: tomato;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 100px;
    
   
}
#donate-section{
    align-content: center;
}
.headings {
    text-align: center;
    margin-top: 100px;
    
}
.headings h1 {
    font-size: 60px;
    
}
.amount {
    margin-top: 40px;
    display: flex;
    font-size: 30px;
    padding: 20px;
    justify-content: center;
    
    
}
.amount h2{
    padding: 25px;
}
#standard{
    border: 2px tomato solid;
}
.input{
    margin-top: 30px;
   text-align: center;
  
}
.btn{
    text-align: center;
    margin-top: 30px;
}
#plan-section{
   
}
.plan-heading{
    text-align: center;
    margin-top: 100px;
}
.plan-heading h1{
    font-size: 60px;
}
.plan-item{
    display: flex;
    padding: 20px;
    width: 100%;
}
.item-1{
    padding:10px;
   
    
    
}
.plan-item img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}